@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
  font-family: "Roboto Condensed", sans-serif;
}

label,
.input-normal {
  padding: 0.3rem 0.5rem;

  border-top: solid 1px rgb(122, 122, 122);
  border-bottom: solid 1px rgb(122, 122, 122);
}
label {
  border-radius: 0.2rem 0 0 0.2rem;

  border-left: solid 1px rgb(122, 122, 122);
  border-right: solid 1px rgb(122, 122, 122);
}
.input-normal {
  width: 100%;
  
  border-radius: 0 0.2rem 0.2rem 0;
  border-right: solid 1px rgb(122, 122, 122);
}